<% provide(:title, 'All Incomes') %>
<h1>All incomes</h1>

<table class="table table-hover table-striped">
  <tr>
    <th>Amount</th>
    <th>Date</th> 
    <th>Category</th>
    <th></th>
  </tr>
  <% @incomes.each do |income| %>
  <tr id = "tr_<%= income.id %>">
    <td><%= link_to income.amount, income %> </td>
    <td><%= income.date %> </td>
    <td><%= income.category %> </td>
    <td>
      <button class="btn btn-danger" onclick="deleteInc(<%= income.id %>)"> Delete </button>
    </td>
  </tr>
  <% end %>
</table>