<% provide(:title, 'All expenses') %>
<h1>All expenses</h1>

<table class="table table-hover">
  <tr>
    <th>Amount</th>
    <th>Date</th> 
    <th>Place</th>
    <th>Category</th>
  </tr>
  <% @expenses.each do |expense| %>
  <tr id = "tr_<%= expense.id %>">
    <td><%= link_to expense.amount, expense %> </td>
    <td><%= expense.date %> </td> 
    <td><%= expense.place %> </td>
    <td><%= expense.category %> </td>
    <td>
      <button class="btn btn-primary" onclick="deleteExp(<%= expense.id %>)"> Delete </button>
    </td>
  </tr>
  <% end %>
</table>